:root {
    --primary-color: var(--ghost-accent-color, #6c5ce7);
    --primary-text-color: #333;
    --secondary-text-color: #999;
    --red-color: #dc3545;
    --orange-color: #ffc107;
    --green-color: #28a745;
    --white-color: #fff;
    --lighter-gray-color: #f7f7f7;
    --light-gray-color: #f1f1f1;
    --mid-gray-color: #e6e6e6;
    --dark-gray-color: #1a1a1a;
    --black-color: #000;
    --animation-base: ease-in-out;
    --h1-size: 3.8rem;
}

:root {
    --border-radius-s: 0.625rem;
    --border-radius-m: 0.9375rem;
    --max-width-container: 72.5rem;
    --max-width-post-container: 47.5rem;
    --spacing-s: 1.25rem;
    --spacing-m: 2.5rem;
    --spacing-l: 3.75rem;
    /* Configurable by user */
    --show-loading-animation: 1;
    --show-slide-up-animation: 1;
    --hero-image-transparency: 0.6;
    --hero-image-gradient-transparency: 0.4;
    --backdrop-opacity: 0.8;
    --backgrop-controls-opacity: 0.2;
    --post-card-height: 38.75rem;
    --hide-post-card-overlay: 1;
    --hover-post-image-zoom: 1.1;
    --post-feature-image-width: 100%;
}

:root {
    --foreground: hsl(0, 0%, 7%);
    --background: hsl(0, 0%, 100%);
    --header-background: rgba(255, 255, 255, 0.5);
    --gradient-card-background: rgba(255, 255, 255, 0);
    --light-background: hsl(0, 0%, 91%);
    --light-secondary-background: hsl(0, 0%, 98%);
    --dark-background: hsl(0, 0%, 7%);
    --color-on-dark: hsl(0, 0%, 100%);
    --accent-color: hsl(0, 0%, 7%);
    --border: hsl(0, 0%, 91%);
    --border-on-dark: hsl(0, 0%, 16%);
    --light-text: hsl(0, 0%, 36%);
    --gradient-first-color: hsl(299, 100%, 50%);
    --gradient-second-color: hsl(181, 100%, 44%);
    --focus: hsl(203, 82%, 76%);
    --success: hsl(173, 58%, 39%);
    --error: hsl(355, 78%, 56%);
    --highlighted: hsl(60, 100%, 50%);
    --active-status: hsl(146, 32%, 38%);
    --trialing-status: hsl(217, 100%, 51%);
    --issue-status: hsl(351, 72%, 45%);
    --canceled-status: hsl(208, 10%, 34%);
    --display-light-logo: inline-block;
    --display-dark-logo: none;
    --card-background: white;
    --card-drop-shadow: drop-shadow(0px 10px 10px rgb(0 0 0 / 14%));
}

[theme-mode="dark"] {
    --foreground: hsl(240, 25%, 98%);
    --background: hsl(245, 17%, 12%);
    --header-background: rgba(27, 26, 37, 0.5);
    --gradient-card-background: rgba(26, 25, 36, 0);
    --light-background: hsl(225, 13%, 18%);
    --light-secondary-background: hsl(225, 13%, 8%);
    --accent-color: hsl(32, 100%, 49%);
    --border: hsl(228, 13%, 23%);
    --light-text: hsl(240, 25%, 78%);
    --display-light-logo: none;
    --display-dark-logo: inline-block;
    --card-background: black;
    --card-drop-shadow: drop-shadow(0px 10px 10px rgb(0 0 0 / 74%));
}